@import "./markdown.scss";
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  
}

html.dark {
  background: #060415;
  color-scheme: dark;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #8f8f8f, #e6e6e6);
  border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #737373, #bfc1c2);
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--app-bg);
  font-family: "DM Sans", sans-serif;
  --text-dark: #1a2f45;
  --text-light: #445e78;
  --toggle-ball: #fff;
  --message-box-2: #1a233b;
  --chat-input: #060415;
  --border-light: #8187a2;
  --app-bg: #060415;
  --box-color: #12172d;
  --box-border: #477eff;
  --button-bg: #477eff;
  --text-dark: rgba(255, 255, 255, 1);
  --text-light: rgba(255, 255, 255, 0.6);
  --toggle-bg: #477eff;
  --toggle-bg-off: #6895a3;
  --message-box-2: #477eff;
  --box-shadow: rgba(18, 23, 45, 0.6) 0px 8px 24px;
  --scrollbar-thumb: linear-gradient(
    to bottom,
    rgba(43, 88, 118, 0.8),
    rgba(78, 67, 118, 0.8)
  );
}

.app-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 24px;
  max-width: 1800px;
}

.app-left {
  flex-basis: 320px;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin-right: 24px;
}

.app-left-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--app-bg);

  h1 {
    margin: 0;
    margin-left: 12px;
  }
}

.app-profile-box {
  border: 1px solid var(--box-border);
  background-color: var(--box-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 24px;

  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
  }

  &-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: var(--text-dark);
    margin: 4px 0;
    display: flex;
    align-items: center;
  }

  &-title {
    font-size: 12px;
    line-height: 16px;
    color: var(--text-light);
    margin: 0;
  }
}

.switch-status {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.switch-status input {
  opacity: 0;
  position: absolute;
  width: 0;
  height: 0;

  &:checked + label {
    background-color: var(--toggle-bg);

    &:before {
      left: 12px;
    }
  }

  &:checked ~ .toggle-offline {
    display: none;
  }

  &:checked ~ .toggle-online {
    display: inline-block;
  }
}

.toggle-text {
  user-select: none;
  color: var(--text-light);
}

.toggle-online {
  display: none;
}
.toggle-offline {
  display: inline-block;
}

.label-toggle {
  background-color: var(--toggle-bg-off);
  border-radius: 24px;
  width: 24px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
  position: relative;
  transition: 0.2s;
  cursor: pointer;

  &:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 2px;
    top: 50%;
    transform: translatey(-50%);
    border-radius: 50%;
    background-color: var(--toggle-ball);
    transition: all 0.2s ease;
  }
}

.toggle-text {
  font-size: 12px;
  line-height: 16px;
}

.app-setting {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--text-dark);
  margin-left: 4px;
}

.chat-list {
  padding: 0;
  list-style: none;
  height: 0px;
  transition: 0.4s ease-fin;
  display: none;
  opacity: 0;

  &.active {
    display: block;
    height: auto;
    max-height: auto;
    opacity: 1;
  }

  &-item {
    transition: 0.2s;
    padding: 8px 14px;
    margin: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;

    &.active {
      background-color: var(--box-color);

      span {
        color: var(--text-dark);
        font-weight: 700;
      }
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 8px;
    }

    &:hover {
      background-color: var(--box-color);
    }
  }

  &-name {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: var(--text-light);
  }

  &-header {
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;

    .c-number {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--button-bg);
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-left: 8px;
    }
  }
}

.app-main {
  flex: 3;
  height: 100%;
  background-color: var(--box-color);
  border-radius: 10px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;

  &-header {
    position: sticky;
    top: 0;
    background-color: var(--box-color);
    border: 1px solid var(--box-border);
  }
}

.chat-wrapper {
  max-height: 100%;
  max-width: 100%;
}

.chat-input {
  @apply w-full min-w-86 max-w-128;
  border: none;
  outline: none;
  height: 32px;
  padding: 2px 12px;
  flex: 1;
  margin: auto;
  background-color: var(--chat-input);
  color: var(--text-dark);
  scrollbar-width: thin;
  box-shadow: var(--box-shadow);
  &:placeholder {
    color: var(--text-light);
    font-size: 12px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    margin-top: auto;
    border-radius: 6px;
    padding: 4px;
    background-color: var(--chat-input);
   
  }
}

.input-wrapper {
  border: 1px solid var(--border-light);
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  flex: 1;
  padding: 0 6px 0 6px;
  justify-content: space-between;
  margin: 0 8px;
  background-color: var(--chat-input);
}

.chat-mic-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: var(--text-light);
  display: flex;
  align-items: center;
  opacity: 0.7;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.message-wrapper {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;

  &.reverse {
    justify-content: flex-end;

    .message-box {
      background-color: var(--message-box-2);
      color: #fff;

      &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }

    .message-pp {
      order: 2;
    }
  }
}

.message-pp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.message-box {
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  width: auto;
  max-width: 80%;

  &-wrapper {
    margin: 0 12px;

    span {
      font-size: 10px;
      line-height: 16px;
      opacity: 0.6;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar-thumb);
}

@media screen and (max-width: 1025px) {
  .app-left {
    transform: translateX(-100%);
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);

    &.open {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@media screen and (max-width: 680px) {
  .app-right {
    transform: translateX(100%);
    position: absolute;
    opacity: 0;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);

    &.open {
      transform: translateX(0);
      opacity: 1;
    }
  }


}


.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}
