@import url("https://cdn.jsdelivr.net/npm/github-markdown-css@4.0.0/github-markdown.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/github.min.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap&family=Open+Sans:wght@400;600;700&display=swap&family=DM+Mono:wght@400;500;600;700&display=swap&family=Roboto+Mono:wght@400;500;600;700&display=swap&Merriweather:wght@400;500;600;700&display=swap");

.prose pre:not(.shiki) {
  padding: 0;
}

.prose .shiki {
  font-family: "Roboto Mono", monospace;
  font-size: 1.0em;
  line-height: 1.2;
}

.prose img {
  width: 100%;
}

.shiki-light {
  background: #777 !important;
}
.shiki-dark {
  background: #000 !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.markdown-body {
 
img {
  max-width: 8rem!important;
}
}